{% set python = salt.grains.filter_by({
    'default': {
        'versions': [
            {
                'number': '3.6.3',
                'default': True
            }
        ]
    },
    'Debian': {
        'pkgs': [
            'git',
            'zlib1g-dev',
            'libbz2-dev',
            'build-essential',
            'libssl-dev',
            'libsqlite3-dev',
            'libreadline-dev',
            'curl'
        ]
    },
    'RedHat': {
        'pkgs': [
            'git',
            'make',
            'gcc',
            'curl',
            'openssl-devel',
            'zlib-devel',
            'readline-devel',
            'bzip2-devel'
        ]
    },
}, grain='os_family', merge=salt.pillar.get('python'), base='default') %}
