{% set python = salt.grains.filter_by({
    'default': {
        'conf_file': '/etc/python/python.conf',
        'versions': ['3.6.3']
    },
    'Debian': {
        'pkgs': [
            'git',
            'zlib1g-dev',
            'libbz2-dev',
            'build-essential',
            'libssl-dev',
            'libsqlite3-dev',
            'libreadline-dev',
            'curl'
        ]
    },
    'RedHat': {
        'pkgs': [
            'git',
            'make',
            'gcc',
            'curl',
            'openssl-devel',
            'zlib-devel',
            'readline-devel',
            'bzip2-devel'
        ]
    },
}, grain='os_family', merge=salt.pillar.get('python:overrides'), base='default') %}
